<div class="container">
  <h1>Hola mundo</h1>
  <h2>{{welcome}}</h2>
  <ul>
    @for (task of tasks(); track task) {
      <li>
        {{task}}
      </li>
    }
  </ul>

  <hr />
  <h2>{{'Hola'.repeat(4) }}</h2>
  <p> La suma de 3 + 3 es {{3+3}}</p>
  <p> Mi nombre es {{name()}} y tengo {{age}} años </p>

  <!-- <hr />
  <img [src]="img" alt="">
  <input type="text" [value]="name">
  <button [disabled]="disabled">click me</button> -->

  <hr />
  <p>person: {{ person() }}</p>
  <img [src]="person()" alt="">
  <input type="number" [value]="person().age">

  <hr />
  <button (click)="clickHandler()"> click me </button>
  <hr />
  <button (dblclick)="clickHandler()">double click </button>

  <p>(change)</p>
  <input type="number" [value]="person().age" (change)="changeHandler($event)" >

  <p>(change)</p>
  <input type="text" [value]="person().name" (change)="changeHandler($event)" >

  <p>(keydown)</p>
  <input type="text" [value]="person().name" (keydown)="keydownHandler($event)" >

  <p>(keydown shift)</p>
  <input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()" >
  <hr />
  <ul>
    <p>total: {{ tasks().length}}</p>
    @for (task of tasks(); track task; let i = $index) {
      <li>
        {{ i }} {{task}}
      </li>
    }
  </ul>
  <hr />
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)" >
  <p>name : {{name()}}</p>
  <hr />
  <p>Ng If</p>
  @if (1 !== 1) {
    <div>
      My contend
    </div>
  }
  @if (name() === 'Steven'  ) {
    <div>
      Soy steven
    </div>
  }
  @if (name() === 'Steven') {
    <div>Soy steven Con la nueva funcion if de angular</div>
  }
  <input type="number" [value]="person().age" (change)="changeAge($event)" >
  @if (name() === 'steven' && person().age > 18) {
    <div>
      Soy steven y soy mayor de 18
    </div>
  } @else {
    Soy steven y soy menor de 18
  }
  <hr />
  <h2>If else new </h2>
  @if (name() === 'steven' && person().age > 18) {
    <strong>Soy steven y soy mayor de 18 con la nueva sintaxis</strong>
    }@else{
    <i>Soy steven y soy menor de 18 con la nueva sintaxis</i>
  }
  <hr />
  <input type="text" [value]="person().name" (change)="changeName($event)" >
  <div>
    @switch (person().name) {
      @case ('steven') {
        <p>yo soy steven</p>
      }
      @case ('valeria') {
        <p>yo soy valeria</p>
      }
      @case ('vanessa') {
        <p>yo soy vanessa</p>
      }
      @case ('thiago') {
        <p>yo soy thiago</p>
      }
      @default {
        <p>No soy ninguno</p>
      }
    }
  </div>
  <hr />
  <input type="color" [formControl]="colorCtrl">
  <p>color: {{colorCtrl.value}}</p>
  <hr />
  <p>Estilos angular</p>
  <svg>
    <g>
      <rect x="0" y="0" width="100" height="100" [attr.fill]="colorCtrl.value" />
    </g>
  </svg>
  <hr />
  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr />
  <p>Clases en angular</p>
  <p>
    <input type="text" [formControl]="nameCtrl"> <br />
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span>
  </p>
  <p>
    <input type="text">
  </p>
  <br />
  <h2>New For</h2>
  <ul>
    <p>Sintaxis vieja</p>
    <p>total: {{ tasks().length}}</p>
    @for (task of tasks(); track task; let i = $index) {
      <li>
        {{ i }} {{task}}
      </li>
    }
  </ul>
  <p>sintaxis nueva</p>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
      <li>{{ i }} {{ task}}</li>
      } @empty {
      <li> <strong> La lista esta vacia</strong></li>
    }
  </ul>
  <br />
  <h2>New Switch</h2>
  <div>
    @switch (person().name) {
      @case ('steven') {
        <p>yo soy steven</p>
      }
      @case ('valeria') {
        <p>yo soy valeria</p>
      }
      @case ('vanessa') {
        <p>yo soy vanessa</p>
      }
      @case ('thiago') {
        <p>yo soy thiago</p>
      }
      @default {
        <p>No soy ninguno</p>
      }
    }
  </div>
  @switch (person().name) {
    @case ('steven') {
      <p>Yo soy steven</p>
    }
    @case ('valeria') {
      <p>Yo soy valeria</p>
    }
    @case ('vanessa') {
      <p>Yo soy vanessa</p>
    }
    @case ('thiago') {
      <p>Yo soy thiago</p>
    }
    @default {
      <p>Yo no osy nadie</p>
    }
  }

</div>




